<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-family: Centaur">
  <a class="navbar-brand" href="#">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/830c8983-3656-461a-b4d7-5ac03652ac35/dcaumse-01ba44e4-6280-4050-896b-9b1ea8105f5f.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvODMwYzg5ODMtMzY1Ni00NjFhLWI0ZDctNWFjMDM2NTJhYzM1XC9kY2F1bXNlLTAxYmE0NGU0LTYyODAtNDA1MC04OTZiLTliMWVhODEwNWY1Zi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.S1lbLskH8MH5QNSljtgPM2Owhj6ICaAZIzQphY9kUnc"
         width="55" height="40" alt=""><span class="sr-only">(current)</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/books">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/ratings">Ratings</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/add">Add</a>
      </li>
    </ul>
  </div>
  <a class="btn btn-outline-light" routerLink="/register">Sign up</a>
</nav>
