<footer class="page-footer font-small special-color-dark pt-4" style="background-color: #383838; margin-top: 20px ">
<div class="container">
<div class="row">

<hr class="clearfix w-100 d-md-none pb-3">


<div class="col-md-3 mb-md-0 mb-3">

  <h5 class="text-uppercase" style="color: white">Links</h5>

  <ul class="list-unstyled" style="display: block">
    <li>
      <a href="https://instagram.com" class="footer-logo" style="display: inline">Instagram <img src="https://pngimg.com/uploads/instagram/instagram_PNG3.png" width="30px"></a>
    </li>
    <li>
      <a href="https://vk.com" class="footer-logo">VK <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/VK.com-logo.svg/1024px-VK.com-logo.svg.png" width="20px"></a>
    </li>
    <li>
      <a class="text-center" style="color: white">8700788800<img src="https://lh3.googleusercontent.com/proxy/ypdyE8a_fhxkqXDshW9hM4k5rLM8oOoVlr4f8lKkuBRn0C8m3vVvs4Q3ihD9dQN9qsi40DRjOrY6m6dPXuCcYocTX-i_db3rPzzM4X5PvF7p8a4EP9wlDBFCgh8apGzvViuCso3n2EVtT6SljUs83CA" width="20px"></a>
    </li>
    <li>
      <a class="text-center" style="color: white">bookshelf@gmail.com<img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Gmail_Icon.png" width="20px"></a>
    </li>
  </ul>

</div>
</div>
</div>

<footer class="page-footer font-small blue" style="background-color: #383838; margin-top: 20px ">

  <div class="footer-copyright text-center py-3" style="color: white ">© 2020 Copyright:
    <a href="https://bookshelf.com/"> bookshelf.com</a>
  </div>


</footer>
</footer>
