<hr class="my-4">

<div class="row" style="text-align: center">
  <div class="card" style="width: 32%; margin-left: 20px; margin: 10px">
    <img class="card-img-top" src="https://storage.myseldon.com/news_pict_C9/C92FFDF4CB09CEE40614052485242C74" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">25.09</p>
      <p class="card-text">TV series based on the novel "Azazel"</p>
      <p class="card-text">Boris Akunin immediately explained that the plot would be somewhat different from what is described in his book.</p>
      <button type="button" mdbBtn color="white" class="waves-light"
              mdbPopover="Azazel is the first book in a series about Russian Sherlock Holmes, the brilliant detective Erast Fandorin. The novel was published in 1998. A 2002 series with Ilya Noskov in the title role has already been filmed based on the book.
  We are looking forward to new details about the project!"
              placement="bottom"
              mdbPopoverHeader="This will not be a 19th century costume drama. It will be a film about the 20th century. Erast Fandorin will live in a historically alternative Russia. Where everything is modern, Moscow is almost the same." mdbWavesEffect>
       more
      </button>

    </div>
  </div>

  <div class="card" style="width: 32%; margin: 10px">
    <img class="card-img-top" src="https://r5.readrate.com/img/pictures/basic/870/870877/8708773/w337h199-crop-stretch-2e8f988d.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">27.09</p>
      <p class="card-text">What else to read: Books like Sherlock Holmes</p>
      <p class="card-text">"Well, they can't!" - you will think. And we will answer: "Well, no, quite a feasible task!"</p>
      <button type="button" mdbBtn color="white" class="waves-light"
              mdbPopover="Let's not torment. Here they are, the results of our thorough (almost Sherlock-level) search. There are few modern detectives similar to the immortal creation of Arthur Conan Doyle. But they are."
              placement="bottom"
              mdbPopoverHeader="Bookshelf found books for you that are similar to our everything - to Sherlock. Modern, but at the same time within the framework of the classic British canon." mdbWavesEffect>
        more
      </button>

    </div>
  </div>
  <div class="card" style="width: 32%; margin: 10px">
    <img class="card-img-top" src="https://r5.readrate.com/img/pictures/basic/870/870772/8707727/w337h199-crop-stretch-6ad09031.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">26.09</p>
      <p class="card-text">Millennium. Reading order.</p>
      <p class="card-text">How not to get confused in "Girls" by writers Stieg Larsson and David Lagercrantz?</p>
      <button type="button" mdbBtn color="white" class="waves-light"
              mdbPopover="The Girl with the Dragon Tattoo by Stig Larsson. The aging tycoon is investigating the disappearance of a young relative and asks detective journalist Mikael Blomkvist for help. He takes up the investigation in order to distract from his own problems, but soon realizes that the case hides several mysteries at once, and they are all interconnected.
The Girl Who Played With Fire by Stig Larsson. A journalist and his girlfriend were killed - they were investigating the supply of sex slaves to Sweden. Blomkvist tries to figure out who benefits from the murder, and discovers that one of the suspects is his longtime acquaintance Lisbeth Salander.
The Girl Who Blown Up Castles in the Air by Stig Larsson. Lisbeth has many enemies, and she wants to take revenge on them. And for this she will need the help of Mikael Blomkvistk"
              placement="bottom"
              mdbPopoverHeader="So, the reading order of Millennium will be as follows:" mdbWavesEffect>
        more
      </button>

    </div>
  </div>
</div>

