<br>
<br>
<br>
<br>
  <h1 class="display-4" style="text-align: center; font-family: 'Times New Roman'">{{"news" | uppercase}}</h1>

<br>
<br>

<div class="row" style="text-align: center">
  <div class="card" style="width: 32%; margin-left: 20px; margin: 10px">
    <img class="card-img-top" src="https://sun9-37.userapi.com/impg/muCYOwjNHcjhlJV7WTWn67MzbKZ-EcYOPRS-9w/LHpK9i5qHPo.jpg?size=970x647&quality=96&sign=fafc51e9c984110f11041f7ba5a3ef6a&type=album" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">19.05</p>
      <p class="card-text">(Pocket-lint)</p>
      <p class="card-text">Boris Akunin immediately explained that the plot would be somewhat different from what is described in his book.</p>
      <button type="button" mdbBtn color="white" class="waves-light"
              mdbPopover="The move to rebrand comes ahead of the first Matter certifications - which are expected to be in late 2021 - with the new branding and logo set to feature on different devices, as seen below."
              placement="bottom"
              mdbPopoverHeader="After the initiative first launched back in 2019, with the Zigbee Alliance at its core, the work has now resulted in a new, formalised standard. The principle aim, though, is still the same - to help create a more interoperable and secure smart home that allows both manufacturers and users to benefit." mdbWavesEffect>
       read more
      </button>

    </div>
  </div>

  <div class="card" style="width: 32%; margin: 10px">
    <img class="card-img-top" src="https://sun9-49.userapi.com/impg/w5zQkKhve2uxjz9hqR77YFCj8nR1B293GleAUw/0STEuPi0SKc.jpg?size=970x647&quality=96&sign=963f5120012daf1c0104d7e0239e28cd&type=album" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">18.05</p>
      <p class="card-text">New Tado app features include digital child lock and multiroom control</p>
      <p class="card-text">Several new features are rolling out to the Tado mobile app that improve existing smart home products.</p>
      <button type="button" mdbBtn color="white" class="waves-light"
              mdbPopover="The new child lock feature will ignore any manual changes made to Smart Radiator Thermostats when activated. This ensures small children cannot turn a radiator up to a dangerously high heat by accident, for example."
              placement="bottom"
              mdbPopoverHeader="This includes a new child lock feature for Tado Smart Radiator Thermostats, quick actions to control rooms in unison, and the ability to view heating activity in previous periods. In addition, the smart heating firm has launched a new stand to mount a Tado Smart Thermostat or Wireless Temperatur Sensor on, so it sits nicely on a shelf or worktop." mdbWavesEffect>
       read more
      </button>

    </div>
  </div>
  <div class="card" style="width: 32%; margin: 10px">
    <img class="card-img-top" src="https://sun9-49.userapi.com/impg/WLTglIREyhTp2JGLxr2k5RxeMGMzVcS_9yaCag/AOA3SQzqB9o.jpg?size=970x646&quality=96&sign=c0aa677e1febcc590d68557dbdafbe1f&type=album" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">18.05</p>
      <p class="card-text">Ring Floodlight Cam Wired Pro adds colour night vision and improved motion detection.</p>
      <p class="card-text">Ring has introduced the Ring Floodlight Cam Wired Pro.</p>
      <button type="button" mdbBtn color="white" class="waves-light"
              mdbPopover="The new security cam is designed to be wired to the mains for constant power and introduces colour night vision as well as 3D Motion Detection and Bird’s Eye View and carries a $40/£40 price premium over the standard model."
              placement="bottom"
              mdbPopoverHeader="As the 'Pro' moniker suggests, it's basically just an enhanced version of the Ring Floodlight Cam with some bells and whistles." mdbWavesEffect>
       read more
      </button>

    </div>
  </div>
</div>

<br>

