<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://sun9-12.userapi.com/impg/XhapJJ4Z6faGn3ukwiNcyORZzFA8u1ytGQf4qQ/qajjNDJkc2E.jpg?size=1530x596&quality=96&sign=724b097cb8a869aeb8e4111aaf74e959&type=album" alt="First slide">
  </mdb-carousel-item>
</mdb-carousel>

<div class="jumbotron" style="background-color: #ffffff; text-align: center">
  <h1 class="display-4" style="font-family: Castellar">SimpliSafe Home Security System</h1>
  <hr class="my-4">
  <p class="lead">Everything you need to know</p>
  <p>Award-Winning Home Security</p>
  <hr class="my-4">
</div>

<section class="text-center my-2">

  <div class="row">

    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="https://sun9-8.userapi.com/impg/LCYnL4qGdCD3gOCt9hw-_fI6eV9t62mjW_qHHA/1CiXrtH3nYQ.jpg?size=750x631&quality=96&sign=d8ac69e804a8f36cf2d214b5bcf1c949&type=album" alt="Sample image">
      </div>

      <h4 class="font-weight-bold mb-3"><strong>Experts Choose SimpliSafe Home Security</strong></h4>
      <p class="dark-grey-text">Named "Best Home Security overall"
        by US News & World Report, and awarded
        by Popular Mechanics and more.</p>

      <h4 class="font-weight-bold mb-3"><strong>Dispatch faster with Visual Verification</strong></h4>
      <p class="dark-grey-text">Adding Visual Verification to your monitoring plan
        lets us verify your alarm is real so police can
        dispatch faster.</p>

    </div>

    <div class="col-lg-4 col-md-6 mb-md-0 mb-4">

      <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="https://sun9-53.userapi.com/impg/FjFSCwObLqnU622kDMoAA4Fdqe8O_4GbQkt2qQ/l5v0jmlGLmA.jpg?size=750x630&quality=96&sign=373bd28d076dcd157a4f646b3715590c&type=album" alt="Sample image">
      </div>


      <h4 class="font-weight-bold mb-3"><strong>Designed to disappear</strong></h4>

      <p class="dark-grey-text">From the tiny size of our sensors to easy
        one-touch control means you'll never notice
        your security system.</p>

      <h4 class="font-weight-bold mb-3"><strong>Meet the System</strong></h4>

      <p class="dark-grey-text">Base Station:
        The brains. Comes with a built-in cell
        connection to rapidly alert our
        emergency dispatch center.</p>
    </div>

    <div class="col-lg-4 col-md-6 mb-0">

      <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="https://sun9-26.userapi.com/impg/GRsCX0WmYUVDf7Upw9toSgekFVB2ttMHzqyijg/BfUP7cTGuuI.jpg?size=750x630&quality=96&sign=a347fd87253f5eb5e9ba740ec5053d37&type=album" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <h4 class="font-weight-bold mb-3"><strong>How it works</strong></h4>

      <p class="dark-grey-text">Choose your security sensors. We’ll walk you
        through exactly what your home needs and
        ship it to your front door in under a week.</p>
      <p class="dark-grey-text">Set it up in just a few minutes—no tools
        needed—or let one of our pros do it for you.</p>
      <p class="dark-grey-text">Sensors guard all your rooms and entry points.
        If there’s trouble, our monitoring center will call
        you and, if needed, dispatch authorities.</p>
    </div>

  </div>
</section>
