<div class="jumbotron" style="background-color: #ffffff; text-align: center">
  <h5 class="display-4" style="font-family: Castellar">The Millions' Most Anticipated: The Great Second-Half 2020 Books (September - December)</h5>
  <hr class="my-4">

<form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
         aria-label="Search">
</form>
<br>
<br>

<div class="card-group">
  <div class="card">
    <h5 class="card-title" style="text-align: center; padding-bottom: 10px; padding-top: 10px">1</h5>
    <img class="card-img-top" style="width: 300px; margin: auto " src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1571925550l/48570454.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text" style="font-family: 'Berlin Sans FB'">Transcendent Kingdom</p>
      <p class="card-text"><small class="text-muted"> by Yaa Gyasi</small></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-title" style="text-align: center; padding-bottom: 10px; padding-top: 10px">2</h5>
    <img class="card-img-top" style="width: 300px; margin: auto " src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1577397551l/49575048.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text" style="font-family: 'Berlin Sans FB'">	Fifty Words for Rain</p>
      <p class="card-text"><small class="text-muted"> by Asha Lemmie</small></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-title" style="text-align: center; padding-bottom: 10px; padding-top: 10px">3</h5>
    <img class="card-img-top" style="width: 300px; margin: auto " src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1606246904l/48902303._SY475_.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text" style="font-family: 'Berlin Sans FB'">Memorial</p>
      <p class="card-text"><small class="text-muted">by Bryan Washington</small></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-title" style="text-align: center; padding-bottom: 10px; padding-top: 10px">4</h5>
    <img class="card-img-top" style="width: 300px; margin: auto " src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1583735183l/50358031.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text" style="font-family: 'Berlin Sans FB'">Leave the World Behind</p>
      <p class="card-text"><small class="text-muted">by Rumaan Alam </small></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-title" style="text-align: center; padding-bottom: 10px; padding-top: 10px">5</h5>
    <img class="card-img-top" style="width: 300px; margin: auto " src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1588572246l/52661162.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text" style="font-family: 'Berlin Sans FB'"> The Searcher</p>
      <p class="card-text"><small class="text-muted">by Tana French</small></p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <h5 class="card-title" style="text-align: center; padding-bottom: 10px; padding-top: 10px">6</h5>
    <img class="card-img-top" style="width: 300px; margin: auto" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1597694642l/50358038.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text" style="font-family: 'Berlin Sans FB'">The Cold Millions</p>
      <p class="card-text"><small class="text-muted">by Jess Walter</small></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-title" style="text-align: center; padding-bottom: 10px; padding-top: 10px">7</h5>
    <img class="card-img-top" style="width: 300px; margin: auto " src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1599264565l/49222645._SY475_.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text" style="font-family: 'Berlin Sans FB'">	The Last Story of Mina Lee</p>
      <p class="card-text"><small class="text-muted"> by Nancy Jooyoun Kim</small></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-title" style="text-align: center; padding-bottom: 10px; padding-top: 10px">8</h5>
    <img class="card-img-top" style="width: 300px; margin: auto " src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1576014026l/44429347._SY475_.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text" style="font-family: 'Berlin Sans FB'">Winter Counts</p>
      <p class="card-text"><small class="text-muted">by David Heska Wanbli Weiden</small></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-title" style="text-align: center; padding-bottom: 10px; padding-top: 10px" >9</h5>
    <img class="card-img-top" style="width: 300px; margin: auto " src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1577258440l/48615751.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text" style="font-family: 'Berlin Sans FB'">World of Wonders: In Praise of Fireflies, Whale Sharks, and Other Astonishments</p>
      <p class="card-text"><small class="text-muted">by Aimee Nezhukumatathil</small></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-title" style="text-align: center; padding-bottom: 10px; padding-top: 10px" >10</h5>
    <img class="card-img-top" style="width: 300px; margin: auto " src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1583336476l/43297216.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text" style="font-family: 'Berlin Sans FB'"> Bestiary</p>
      <p class="card-text"><small class="text-muted">by K-Ming Chang </small></p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <h5 class="card-title" style="text-align: center; padding-bottom: 10px; padding-top: 10px">11</h5>
    <img class="card-img-top" style="width: 300px; margin: auto" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1584447878l/50403478.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text" style="font-family: 'Berlin Sans FB'">Jack</p>
      <p class="card-text"><small class="text-muted">by Marilynne Robinson</small></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-title" style="text-align: center; padding-bottom: 10px; padding-top: 10px">12</h5>
    <img class="card-img-top" style="width: 300px; margin: auto " src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1583754042l/49348747.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text" style="font-family: 'Berlin Sans FB'">	The Great Offshore Grounds</p>
      <p class="card-text"><small class="text-muted"> by Vanessa Veselka </small></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-title" style="text-align: center; padding-bottom: 10px; padding-top: 10px">13</h5>
    <img class="card-img-top" style="width: 300px; margin: auto " src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1571573089l/52761023.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text" style="font-family: 'Berlin Sans FB'">Against the Loveless World</p>
      <p class="card-text"><small class="text-muted">by Susan Abulhawa </small></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-title" style="text-align: center; padding-bottom: 10px; padding-top: 10px" >14</h5>
    <img class="card-img-top" style="width: 300px; margin: auto " src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1595217851l/50640953.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text" style="font-family: 'Berlin Sans FB'">Carry: A Memoir of Survival on Stolen Land</p>
      <p class="card-text"><small class="text-muted">by Toni Jensen</small></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-title" style="text-align: center; padding-bottom: 10px; padding-top: 10px" >15</h5>
    <img class="card-img-top" style="width: 300px; margin: auto " src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1581854704l/52764801._SY475_.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text" style="font-family: 'Berlin Sans FB'">The Thirty Names of Night</p>
      <p class="card-text"><small class="text-muted">by Zeyn Joukhadar</small></p>
    </div>
  </div>
</div>
