<br>
<br>
<div class="row" style="text-align: center">
  <div class="card" style="width: 32%; margin-left: 20px; margin: 10px">
    <img class="card-img-top" src="https://sun9-35.userapi.com/impg/bf30fu16n7EUFnZdxipQ8K5UkJ-GgrT1UITPyw/5uGDpnTQZxg.jpg?size=969x647&quality=96&sign=86bc39b207361097be1e2e8be8cf15c2&type=album" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">17.05</p>
      <p class="card-text">Apple HomeKit and Home app: What are they and how do they work?</p>
      <p class="card-text">Apple HomeKit is designed to make it easier for you to set up and control the smart home gear in your home. </p>
      <button type="button" mdbBtn color="white" class="waves-light"
              mdbPopover="HomeKit-enabled smart accessories are secure, easy to use, and work with iPhone, iPad, Apple Watch, Apple TV, and HomePod. Any manufacturer can implement HomeKit into their smart accessories."
              placement="bottom"
              mdbPopoverHeader="These include devices like Philips Hue lights, Wink lights, and other smart speakers, thermostats, detectors, plugs, blinds, locks, sensors and so on." mdbWavesEffect>
        read more
      </button>

    </div>
  </div>

  <div class="card" style="width: 32%; margin: 10px">
    <img class="card-img-top" src="https://sun9-14.userapi.com/impg/jGnKjrIzb9pyHAXp1cM0X-SzGTUla5VnGslt1w/vZqnvZ27_7s.jpg?size=970x647&quality=96&sign=c603a80e90053fd2831ac2de685d54c7&type=album" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">16.05</p>
      <p class="card-text">Apple considering Apple TV box with speaker and camera.</p>
      <p class="card-text">Apple could be looking at a twist on the Apple TV, which offers a speaker and a cameras, making it an all-in-one device to connect to a TV.</p>
      <button type="button" mdbBtn color="white" class="waves-light"
              mdbPopover="Apple's prominence in homes has been rather muted: while it dominates the tablet market with the iPad and has a big chunk of the smartphone market with the iPhone, when it comes to home devices - Apple TV and HomePod, the company hasn't been so successful."
              placement="bottom"
              mdbPopoverHeader="The company is also said to be considering merging the HomePod with an iPad display to rival the Amazon Echo Show." mdbWavesEffect>
        read more
      </button>

    </div>
  </div>
  <div class="card" style="width: 32%; margin: 10px">
    <img class="card-img-top" src="https://sun9-33.userapi.com/impg/sv7RofmXaXyRSvLJFj0fQOHtbOc0l3xsirzrIg/DNF1E__wANg.jpg?size=969x647&quality=96&sign=56f5bb840b163ebccfacfdeefad620b6&type=album" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">16.05</p>
      <p class="card-text">Eve Energy smart plug brings Siri control to any device.</p>
      <p class="card-text">(Pocket-lint) - With the release of the new Eve Energy smart plug,Apple once again extends its reach into your home.</p>
      <button type="button" mdbBtn color="white" class="waves-light"
              mdbPopover="Working in conjunction with the Eve app, you can use Siri to control the power of any device plugged into Eve Energy. You'll also be able to see how much energy the device is using at any given point, which can help with energy consumption and your bank account."
              placement="bottom"
              mdbPopoverHeader="Along with Eve's lighting and security smart devices, the Energy smart plug extends Apple's Homekit to any other plug-in device in your home." mdbWavesEffect>
        read more
      </button>

    </div>
  </div>
</div>

<br>
