<br>
<br>
<div class="row" style="text-align: center">
  <div class="card" style="width: 32%; margin-left: 20px; margin: 10px">
    <img class="card-img-top" src="https://r5.readrate.com/img/pictures/basic/870/870878/8708781/w585h345-crop-stretch-0b6924d7.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">25.09</p>
      <p class="card-text">"The Miracle Morning".</p>
      <p class="card-text">Quotes for those who want to be more successful.Get up earlier and everything will change! At any rate, Hal Elrod promises so.</p>
      <button type="button" mdbBtn color="white" class="waves-light"
              mdbPopover="They say that the first hour rules the rest of the day. If I’m lazy or disorganized during the first hour after waking up, I tend to stay that way all day. But if I try to spend that first hour as productive as possible, the rest of the day is likely to be just as optimally productive."
              placement="bottom"
              mdbPopoverHeader="As the name implies, in his book Elrod suggests making the most of the morning hours - the very ones we used to spend under a warm blanket. Quote from this book:" mdbWavesEffect>
        read more
      </button>

    </div>
  </div>

  <div class="card" style="width: 32%; margin: 10px">
    <img class="card-img-top" src="https://r5.readrate.com/img/pictures/basic/870/870605/8706057/w585h345-crop-stretch-20f1db42.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">24.09</p>
      <p class="card-text">What else to read: like "Bridget Jones"</p>
      <p class="card-text">The soul asks for life-affirming stories about how everything was bad, and then it got better? Well, here for you!</p>
      <button type="button" mdbBtn color="white" class="waves-light"
              mdbPopover="So, catch: books like Bridget Jones. The characters are different, the plot is subtly similar, but the effect is the same. They are guaranteed to suit the autumn mood, brighten the evenings and give great emotions: And how does she do it? (Allison Pearson); Playing with Fire (Hannah Orenstein); Alien Sun (Sarah Rainer); The Bookseller's Diary (Sean Bytell)"
              placement="bottom"
              mdbPopoverHeader="Do you think that since the release of the immortal bestseller, you haven't come up with anything with a similar mood? Especially for you, we have found books in the style of Bridget Jones." mdbWavesEffect>
        read more
      </button>

    </div>
  </div>
  <div class="card" style="width: 32%; margin: 10px">
    <img class="card-img-top" src="https://sun9-27.userapi.com/SllFsYAuzaM8w-VTC8xFQw2ucNLhR5jLxZ6ctw/UvoT31bZ7xA.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">22.09</p>
      <p class="card-text">New book by Jo Nesbo will be released this fall</p>
      <p class="card-text">Already in October, the “Kingdom” of U Nesbo in Russian will appear on the shelves of bookstores.</p>
      <button type="button" mdbBtn color="white" class="waves-light"
              mdbPopover="The Kingdom will not be about Harry Hole, it is an independent novel. It's about a quiet Norwegian town in which nothing ever happens. Roy, who was born and raised here, has long been used to it. However, suddenly his younger brother Karl appears in his life - impudent and successful. Karl brings with him a new wife and ambitious business plans to revive his hometown.
It soon turns out that Karl's plans are not at all so noble, Roy is strongly attracted to his wife, and the past is about to remind the present about long-forgotten dark secrets. In general, under the label of such a hygge life, as always, passions, vices and pain are hidden. We hope Nesbo, famous for its heart-wrenching thrillers, will not disappoint!"
              placement="bottom"
              mdbPopoverHeader="The translation of the last book of the famous Scandinavian detective will be published by the Azbuka-Atticus publishing house." mdbWavesEffect>
        read more
      </button>

    </div>
  </div>
</div>

<br>
