<div class="r">
<br>
<div class="container">
  <form class="form-horizontal" role="form">
    <h2 class="text-center">Review</h2>

    <div class="form-group" style="margin-left: 200px">
      <label for="email" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-9">
        <input type="email" id="email" placeholder="Email" class="form-control" name= "email">
      </div>
    </div>
    <div class="form-group" style="margin-left: 200px">
      <label for="password" class="col-sm-3 control-label">Password</label>
      <div class="col-sm-9">
        <input type="password" id="password" placeholder="Password" class="form-control">
      </div>
    </div>
    <div class="form-group" style="margin-left: 200px">
      <label for="Your review" class="col-sm-3 control-label">Your review</label>
      <div class="col-sm-9">
        <input type="text" id="Your review" style="padding-bottom: 200px" placeholder="" class="form-control">
      </div>
    </div>

    <div class="form-group" style="margin-left: 200px">
      <div class="col-sm-9 col-sm-offset-3">
        <td><button mdbBtn type="button" color="elegant" mdbWavesEffect style="margin-left: 300px">add</button></td>
        <hr class="my-4">
        <span class="help-block" style="margin-left: 250px">If you have not registered yet</span>
      </div>
    </div>
    <td><button (click)="signup()" mdbBtn type="button" color="elegant" mdbWavesEffect style="margin-left:505px">sign up</button></td>

<br>

  </form>
</div>
</div>
