
<div class="col-md-5 pr-lg-5 mb-5 mb-md-0" style="margin: auto; width: 400px">
  <img src="https://thumbs.dreamstime.com/b/young-woman-reading-book-concept-person-read-library-guirl-study-isolated-vector-illustration-cartoon-style-young-woman-159839641.jpg" alt="" class="img-fluid mb-3 d-none d-md-block">
  <h1 class="" style="text-align: center">Log In</h1>
</div>


<form #form1="ngForm">
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required [(ngModel)]="username" [ngModelOptions]="{standalone: true}">

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="password" [ngModelOptions]="{standalone: true}">

    <button type="submit" (click)="login()">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>
</form>

  <div class="container">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
