<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <img class="d-block w-100"  src="https://psv4.userapi.com/c537232/u204875235/docs/d38/7d45234a3097/smart-home-banner-img_1.gif?extra=IlZN0LZV_kpKUBspxV6Ypg7J2luk13mp3QAEz4xh4cIE6mNd3fkqWiUebBOsuLtkpL-_6uuoY_2w4vfR7M_8_hHIVlDfApPAi_umYdre9SnsKtEkkLqSoNtP31xw6q5dMiv_OqEqBXXRElLXsg">
  </mdb-carousel-item>
</mdb-carousel>

<div class="jumbotron" style="background-color: #ffffff; text-align: center">
  <h1 class="display-4" style="font-family: 'Bradley Hand ITC'">Find your lovely smart house!</h1>
  <hr class="my-4">
  <p class="lead">Deciding about your dream house?</p>
  <p>You’re in the right place. Tell us what you want, and we give you any recommendations.</p>

  <hr class="my-4">

</div>

<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://sun9-2.userapi.com/impg/5Bw5b-5FdzvML1N8fEDEEieig0Vfh6gT65nZow/5uAaNn1JbHA.jpg?size=1280x513&quality=96&sign=b82f7e96de2f589a1e69b488b256e02f&type=album" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://sun9-75.userapi.com/impg/8YIxMbpHT3Xav8Dn2KFqTIQKJQb8nVCTzUhGOQ/lhoo1zkLEUA.jpg?size=1024x416&quality=96&sign=80a161faa8124df4cee90746a50df739&type=album" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://sun9-51.userapi.com/impg/SPkM6BIuYqRCCKVHejsAYbY0jV4glUMVUQqApw/S3nRlA4IlVs.jpg?size=1024x412&quality=96&sign=1e90e8b496abf27a2922bf4801131ecf&type=album" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>

<app-cards></app-cards>
<button class="m-button" (click)="toggle1()" style="width: 70%; margin-left: 15%" >
  <a class="text-enter" style="color: black">. . .</a>

</button>
<app-cards2 *ngIf="displayChild"
></app-cards2>
