<!DOCTYPE html>
<html>
<body>

<p class="card-text" style="color: black">Do you like reading books?</p>
<form action="/action_page.php">
  <input type="checkbox" id="vehicle1" name="vehicle1"  value="Yes">
  <label for="vehicle1" style="color: green">Yes</label><br>
  <input type="checkbox" id="vehicle1" name="vehicle1" value="No">
  <label for="vehicle1" style="color: red">No</label><br>
  <input type="submit" style="color: white; background-color: cornflowerblue"  value="Submit">
</form>

</body>
</html>

<app-news></app-news>
