
<div class="col-md-5 pr-lg-5 mb-5 mb-md-0" style="margin: auto">
  <img src="https://static1.squarespace.com/static/572fe56b27d4bdb4d518f0b6/t/5b606ba470a6ad767534cefd/1533045682051/Untitled_Artwork+2.png?format=1500w" alt="" class="img-fluid mb-3 d-none d-md-block">
  <h1 class="" style="text-align: center">Create an Account</h1>
</div>

<div class="q">


<!-- Registeration Form -->
<form (submit)="onSubmit()">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

  <div class="container">
    <hr>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <header class="card-header">
            <h4 class="card-title mt-2">Sign up</h4>
          </header>
          <article class="card-body">
            <form>
              <div class="form-row">
                <div class="col form-group">
                  <label>First name </label>
                  <input id="firstName" type="text" name="firstname" placeholder="First Name" [(ngModel)]= "login.firstname" class="form-control bg-white border-left-0 border-md">
                </div>


                <div class="col form-group">
                  <label>Last name</label>
                  <input id="lastName" type="text" name="lastname" placeholder="Last Name" [(ngModel)]= "login.lastname" class="form-control bg-white border-left-0 border-md">
                </div>
              </div>


              <div class="form-group">
                <label>Email address</label>
                <input id="email" type="email" name="email" placeholder="Email Address" [(ngModel)]= "login.email" class="form-control bg-white border-left-0 border-md">
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>


              <div class="form-group">
                <label class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" value="option1">
                  <span class="form-check-label"> Male </span>
                </label>
                <label class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" value="option2">
                  <span class="form-check-label"> Female</span>
                </label>
              </div>


              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>City</label>
                  <input id="city" type="text" name="city" placeholder="City" [(ngModel)]= "login.city" class="form-control bg-white border-left-0 border-md">
                </div>


                <div class="form-group col-md-6">
                  <label>Country</label>
                  <select id="inputState" class="form-control">
                    <option> Choose...</option>
                    <option selected="">Kazakhstan</option>
                    <option>Russia</option>
                    <option>United States</option>
                  </select>
                </div>
              </div>


              <div class="form-group">
                <label>Create password</label>
                <input id="password" type="password" name="password" placeholder="Password" [(ngModel)]= "login.password" class="form-control bg-white border-left-0 border-md">
              </div>
              <div class="form-group">


                <div class="form-group">
                  <label>Confirm password</label>
                  <input id="passwordConfirmation" type="password" name="passwordConfirmation" placeholder="Confirm Password" [(ngModel)]= "login.passwordConfirmation" class="form-control bg-white border-left-0 border-md">
                </div>
                <div class="form-group">
                </div>

                <button type="submit" class="btn btn-dark btn-block"> Register  </button>
              </div>
              <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>
            </form>
          </article>
          <div class="border-top card-body text-center">Have an account? <a href="">Log In</a></div>
        </div>
      </div>

    </div>


  </div>
  <br><br>
  <div class="col-md-5 col-lg-6 ">
    <form action="#">
      <div class="row">
      </div>
    </form>
  </div>
</form>
</div>
