
<div class="row" style="text-align: center">
  <div class="card" style="width: 32%; margin-left: 20px; margin: 10px">
    <img class="card-img-top" src="https://storage.myseldon.com/news_pict_C9/C92FFDF4CB09CEE40614052485242C74" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">25.09</p>
      <p class="card-text">TV series based on the novel "Azazel"</p>
      <p class="card-text">Boris Akunin immediately explained that the plot would be somewhat different from what is described in his book.</p>
      <a href="#" class="btn btn-primary" style="background-color: cornflowerblue">more</a>
    </div>
  </div>

  <div class="card" style="width: 32%; margin: 10px">
    <img class="card-img-top" src="https://r5.readrate.com/img/pictures/basic/870/870877/8708773/w337h199-crop-stretch-2e8f988d.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">27.09</p>
      <p class="card-text">What else to read: Books like Sherlock Holmes</p>
      <p class="card-text">"Well, they can't!" - you will think. And we will answer: "Well, no, quite a feasible task!"</p>
      <a href="#" class="btn btn-primary" style="background-color: cornflowerblue">more</a>
    </div>
  </div>
  <div class="card" style="width: 32%; margin: 10px">
    <img class="card-img-top" src="https://r5.readrate.com/img/pictures/basic/870/870772/8707727/w337h199-crop-stretch-6ad09031.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">26.09</p>
      <p class="card-text">Millennium. Reading order.</p>
      <p class="card-text">How not to get confused in "Girls" by writers Stieg Larsson and David Lagercrantz?</p>
      <a href="#" class="btn btn-primary" style="background-color: cornflowerblue">more</a>
    </div>
  </div>
</div>

